{% extends 'base.html.twig' %}

{% block title %}Producción{% endblock %}

{% block body %}



    <section class="jumbotron p-1 text-center">
            <div class="container">
            <h1 class="jumbotron-heading">Alta Usuarios</h1>
            <p class="lead text-muted">Dar de alta los Usuarios</p>
            </div>
    </section>

<main>
            <div class="container w-50">
                
                    {{ form_start(formulario)}} 
                    {{ form_widget(formulario) }} 
                    {{ form_end(formulario) }}
        
            </div>



        {# BOTON ATRAS #}
        <div class="container">
            <div class="nav justify-content-end">
                <a class="btn btn-primary"  href="{{ path('usuarios')}}" ><i class="fas fa-undo"></i></a>
            </div>
        </div>
    </div>
<main>



</div>

{% endblock %}

