<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Produccion PS COVER{% endblock %}</title>
        {# Run `composer require symfony/webpack-encore-bundle`
           and uncomment the following Encore helpers to start using Symfony UX #}
        {% block stylesheets %}
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

        {% endblock %}

        {% block javascripts %}
            <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
        {% endblock %}
    </head>

    <header>
        {% block header %}
        
        <!-- Navbar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light mb-1">

            <div class="container-fluid content-align align-middle">
                <div class="container text-center ">
                    <a class="navbar-brand " href="https://www.ps-cover.com" target="_blank">
                        <img src="./image/logo_pscover.png" height="50" width="200">
                    </a>
                </div>
                
                <div class="container text-center ">
                 {% if is_granted('ROLE_ADMIN') %}
                    <p class="lead text-muted">Usuario: <span>{{ app.user.username }}</span> </p>
                 {% endif %}
                </div>
                
                <div class="container text-center ">
                    <p class="lead text-muted">Fecha/Hora: {{ "now" |date("d/m/Y H:i:s", "Europe/Paris") }}</p>
                </div>                  
            </div>
        </nav>

        <!-- Navbar -->

        {% endblock %}
    </header>

    <body>

        <!-- Body -->

        {% block body %}
        
        {% endblock %}

        <!-- Body -->

    </body>


 
        {% block footer %}

        <!-- Footer -->
        
        <footer class="bg-light text-center text-lg-start h-100">
            <div class="text-center p-3">&copy 2020-2021 Copyright:
                <a class="text-dark" href="https://www.ps-cover.com/">www.ps-cover.com</a>
                <a class="btn btn-success btn-sm" href="{{ path('logout') }}">Cerrar sesión</a>
            </div>
        </footer>
        
        <!-- Footer -->

        {% endblock %}

    
</html>
