{% extends 'base.html.twig' %}

{% block title %}Editar Clientes{% endblock %}

{% block body %}

    <section class="jumbotron p-1 text-center">
            <div class="container">
            <h1 class="jumbotron-heading">Alta clientes</h1>
            <p class="lead text-muted">Dar de alta los clientes</p>
            </div>
    </section>

   <main>
    <div class="container w-60">

        
        {{ form_start(formulario) }} 
        {{ form_widget(formulario) }} 
        {{ form_end(formulario) }}


        {# BOTON ATRAS #}
        <div class="container">
            <div class="nav justify-content-end">
                <a class="btn btn-primary"  href="{{ path('clientes')}}" >Atrás</a>
            </div>
        </div>
    </div>
<main>

</div>

{% endblock %}