{% extends 'base.html.twig' %}


 {% block title %}Login{% endblock %}
 
  {% block body %} 
    <form class="container-fluid form-signin col-md-4" action="{{ path('resumen') }}">
      <div class="text-center mb-4">
        
        <h1 class="h3 mb-3 font-weight-normal">Login</h1>
       
      </div>

      <div class="form-label-group mb-2">
        <input type="text" id="usuario" class="form-control" placeholder="Usuario" required autofocus>
        
      </div>

      <div class="form-label-group mb-2">
        <input type="password" id="password" class="form-control" placeholder="Password" required>
        
      </div>

      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Recuérdame
        </label>
      </div>

      <button class="btn btn-lg btn-primary btn-block mb-5" type="submit">Entrar</button>
     
    </form>
{% endblock %}
