{% extends 'base.html.twig' %}


 {% block title %}Login{% endblock %}
 
  {% block body %} 
  
 


    <form class="container-fluid form-signin col-md-4" action="{{ path('login') }}" method="POST">

    

        <div class="text-center mb-4">
          <h1 class="h3 mb-3 font-weight-normal">Login</h1>
            {% if error %}
            <div class="container alert alert-danger mt-2 float-left col-md-12" role="alert">
                    <p>Error en la autenticación</p>
              </div>
      {% endif %}
        </div>

        <div class="form-label-group mb-2">
          <input type="text" id="username" class="form-control" name="_username" value="{{ lastUsername }}" placeholder="Usuario" required autofocus>
        </div>

        <div class="form-label-group mb-2">
          <input type="password" id="password" class="form-control" name="_password" placeholder="Password" required>
        </div>

        <button class="btn btn-lg btn-primary btn-block mb-5" type="submit">Entrar</button>
     
    </form>

 


{% endblock %}



        {% block footer %}

        <!-- Footer -->
        
        <footer class="bg-light text-center text-lg-start h-100">
            <div class="text-center p-3">&copy 2020-2021 Copyright:
                <a class="text-dark" href="https://www.ps-cover.com/">www.ps-cover.com</a>
            </div>
        </footer>

        <!-- Footer -->

        {% endblock %}
