{% extends 'base.html.twig' %}

{% block title %}Producción{% endblock %}

{% block body %}

    <section class="jumbotron p-1 text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Producción</h1>
                <p class="lead text-muted">Crear las ordenes de producción</p>
            </div>
    </section>


    <main>

        <div class="container w-50">
            {{ form_start(formulario) }} 
            {{ form_widget(formulario) }} 
            {{ form_end(formulario) }}
        </div>

        {# BOTON ATRAS #}
        <div class="container w-50">
            <div class="nav justify-content-end">
                <a class="btn btn-primary mr-3 fas fa-undo"  href="{{ path('busca_lista_ordenes')}}" ></a>
            </div>
        </div>
    </main>

{% endblock %}