{% extends 'base.html.twig' %}

{% block title %}Producci칩n{% endblock %}

{% block body %}

    <section class="jumbotron p-1 text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Producci칩n</h1>
                <p class="lead text-muted">Crear las ordenes de producci칩n</p>
            </div>
    </section>

    <main>

        {# FORMULARIO DE BUSQUEDA CLIENTE, LISTA CLIENTE Y REFERENCIA #}
        
        <div class="container container-fluid p-3 h-50">
            {{ form_start(formulario) }} 

   

                    
            {{ form_widget(formulario) }} 
            {{ form_end(formulario) }}
        </div>
           {# BOTON ATRAS #}
        <div class="container">
            <div class="nav justify-content-end">
                <a class="btn btn-primary mr-3"  href="{{ path('lista_ordenes')}}" >Atr치s</a>
            </div>
        </div>
    </main>

{% endblock %}