{% extends 'base.html.twig' %}

{% block title %}Producción{% endblock %}

{% block body %}



    <section class="jumbotron text-center">
            <div class="container">
            <h1 class="jumbotron-heading">Producción</h1>
            <p class="lead text-muted">Crear las ordenes de producción</p>
            </div>
    </section>

    <main>
        <div class="container container-fluid p-3">

            <nav class="navbar navbar-light row">
                <div class="col-lg col-12">
                    <form class="form-inline">
                        <button class="btn btn-outline-success col" type="submit">Buscar</button>
                        <input class="form-control col" type="search" placeholder="Buscar cliente" aria-label="Buscar">
                    </form>
                </div>

                <div class="col-lg col-12">
                    <select class="custom-select mr-3" id="select_costumer">
                        <option selected>Elegir cliente</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                <div class="col-lg col-12 input-group-prepend">
                        <span class="input-group-text w-100" id="referencia">Referencia</span>
                        <input type="text" class="form-control" aria-label="referencia" aria-describedby="referencia">
                </div>
            </nav>
        </div>

            {# MECANICA #}
            <div class="container input-group mb-3">
                    <label class="input-group-text ml-3 w-10">Mecanica</label>
                <div class="custom-file mr-3">
                    <input type="file" class="custom-file-input" id="inputGroupFile04">
                    <label class="custom-file-label" for="inputGroupFile04">Adjuntar Archivo</label>
                </div>
                 <div class="custom-file mr-3">
                    <input type="file" class="custom-file-input" id="inputGroupFile04">
                    <label class="custom-file-label" for="inputGroupFile04">Ver Archivo</label>
                </div>  
            </div>

            {# LAMINAS #}
            <div class="container input-group mb-3">
                    <label class="input-group-text ml-3 w-10">Láminas</label>
                <div class="custom-file mr-3">
                    <input type="file" class="custom-file-input" id="inputGroupFile04">
                    <label class="custom-file-label" for="inputGroupFile04">Adjuntar Archivo</label>
                </div>
                 <div class="custom-file mr-3">
                    <input type="file" class="custom-file-input" id="inputGroupFile04">
                    <label class="custom-file-label" for="inputGroupFile04">Ver Archivo</label>
                </div>  
            </div>

            {# EMBALAJE #}
            <div class="container input-group mb-3">
                    <label class="input-group-text ml-3 w-10">Embalaje</label>
                <div class="custom-file mr-3">
                    <input type="file" class="custom-file-input" id="inputGroupFile04">
                    <label class="custom-file-label" for="inputGroupFile04">Adjuntar Archivo</label>
                </div>
                 <div class="custom-file mr-3">
                    <input type="file" class="custom-file-input" id="inputGroupFile04">
                    <label class="custom-file-label" for="inputGroupFile04">Ver Archivo</label>
                </div>  
            </div>


            {# TRANSPORTE #}
            <div class="container input-group mb-3">
                    <label class="input-group-text ml-3 w-10">Transporte</label>
                <div class="custom-file mr-3">
                    <input type="file" class="custom-file-input" id="inputGroupFile04">
                    <label class="custom-file-label" for="inputGroupFile04">Adjuntar Archivo</label>
                </div>
                 <div class="custom-file mr-3">
                    <input type="file" class="custom-file-input" id="inputGroupFile04">
                    <label class="custom-file-label" for="inputGroupFile04">Ver Archivo</label>
                </div>  
            </div>



        <div class="container">
            <div class="nav justify-content-end">
                <a class="btn btn-primary mr-3"  href="{{ path('resumen')}}" >Atrás</a>
            </div>
        </div>

    <main>



</div>

{% endblock %}