{% extends 'base.html.twig' %}

{% block title %}Producci칩n{% endblock %}

{% block body %}



    <section class="jumbotron text-center">
            <div class="container">
            <h1 class="jumbotron-heading">Producci칩n</h1>
            <p class="lead text-muted">Crear las ordenes de producci칩n</p>
            </div>
    </section>

    <main>
        <div class="container container-fluid p-3 w-60">

            <nav class="navbar navbar-light row">

                <div class="col-sm col-12">
                    <form class="form-inline">
                        <button class="btn btn-outline-success mr-sm-2" type="submit">Buscar</button>
                        <input class="form-control mr-sm-2" type="search" placeholder="Buscar cliente" aria-label="Buscar">
                    </form>
                </div>

                <div class="col-sm col-12">
                    <select class="custom-select mr-3" id="select_costumer">
                        <option selected>Elegir cliente</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>

                <div class="col-sm col-12 input-group-prepend">
                        <span class="input-group-text" id="referencia">Referencia</span>
                        <input type="text" class="form-control" aria-label="referencia" aria-describedby="referencia">
                </div>
            </nav>
            

        </div>

        <div class="container justify-content-end">
            
                <a class="btn btn-primary"  href="{{ path('resumen')}}" >Atr치s</a>

        </div>

    <main>



</div>

{% endblock %}